@page
@model TorneoDeFutbol.App.Frontend.Pages.Municipios.IndexModel
@{
}
<a class="btn btn-success" asp-page="./Create">Crear Municipio</a>
<h1>Listado de Municipios</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Nombre </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var municipio in Model.municipios)
        {
            <tr>
                <td>@municipio.Nombre</td>
                <td>
                    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@municipio.idMunicipio">Modificar</a>
                </td>
            </tr>
        }
    </tbody>
</table>