@page
@using TorneoDeFutbol.App.Dominio
@model TorneoDeFutbol.App.Frontend.Pages.Arbitros.EditModel
@{
}
<h1>Nuevo Arbitro</h1>
<form method="post">
    <div class="form-group">
        <label asp-for="arbitro.idParticipante"></label>
        <input asp-for="arbitro.idParticipante" class="form-control" readonly>
    </div>
    <div class="form-group">
        <label asp-for="arbitro.numDocumento"></label>
        <input asp-for="arbitro.numDocumento" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="arbitro.nombre"></label>
        <input asp-for="arbitro.nombre" class="form-control" placeholder="Pepito perez">
        <span class="text-danger" asp-validation-for="arbitro.nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="arbitro.apellido"></label>
        <input asp-for="arbitro.apellido" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="arbitro.numTelefono"></label>
        <input asp-for="arbitro.numTelefono" class="form-control">
    </div>
    
    <div class="form-group">
        <label asp-for="arbitro.direccion"></label>
        <input asp-for="arbitro.direccion" class="form-control">
    </div>
   
    <button type="submit" class="btn btn-primary btn-block">Actualizar Arbitro</button>
</form>
<a class="btn btn-secondary" asp-page="./Index">Volver</a>